/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: rgb(22, 22, 24);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --space: 1rem;
  --bg: #09090b;
  --fg: #e3e3e3;
  --surface-1: #101012;
  --surface-2: #27272a;
  --surface-3: #52525b;
  --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}

body * {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

.github-corner-icon {
  position: fixed;
  bottom: 24px;
  right: 24px;
  
  font-size: 40px;
  color: var(--text-color);
  opacity: 0.8;
  
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.github-corner-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  padding: 0 24px;
}

#user {
  isplay: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  padding: 16px;
}

#user img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 4px solid #fff;
  position: relative;
  z-index: 1;
}

#user p {
  font-size: clamp(40px, 4vw, 60px);
  margin-top: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space);
  margin: auto;
  inline-size: min(var(--max, 40rem), 100%);
}

.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  aspect-ratio: 1/1;
  border: 1px solid var(--surface-2);
  isolation: isolate;
  transition: border-color 200ms var(--ease-out);
  user-select: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at bottom left, transparent 55%, var(--surface-1));
  pointer-events: none;
  box-shadow: var(--bg) -0.5cqi 0.5cqi 2.5cqi inset;
  transition: opacity 900ms var(--ease-out);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, var(--bg), transparent 65%);
  opacity: 0;
  transition: opacity 800ms var(--ease-out);
}

.card>* {
  grid-area: card;
}

.card a {
  display: flex;
  justify-content: center;
  padding: 12px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  align-items: end;
}

.card .icon {
  position: relative;
  z-index: 1;
  font-size: 60px;
  color: var(--surface-3);
  transition: 300ms var(--ease-out);
  transition-property: color, scale;
}

.card:where(:hover, :focus-within) .icon {
  color: var(--active-color, var(--fg));
  scale: 1.1;
  transition: 300ms var(--ease-in-out);
}

.card:focus-within {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.card:where(:hover, :focus-within) {
  border-color: var(--active-color, var(--fg));
  transition: border-color 800ms var(--ease-in-out);
}

.card:where(:hover, :focus-within)::before {
  opacity: 0;
}

.card:where(:hover, :focus-within)::after {
  opacity: 1;
}

@media screen and (max-height: 800px) {
  #user img {
      width: 160px;
      height: 160px;
      margin-top: 12px;
  }

  #user {
      padding: 12px;
  }
}

.channel-split-wrapper {
  position: relative;
  display: inline-block;
}

.channel-split-static {
  opacity: 0;
}

.channel-split {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
}

.channel-split-red {
  color: #f00;
  animation: ANIMATE-RED 20000ms infinite;
}

.channel-split-green {
  color: #0f0;
}

.channel-split-blue {
  color: #00f;
  animation: ANIMATE-BLUE 20000ms infinite;
}

@keyframes ANIMATE-RED {
  0% {
      transform: translate(0, 0)
  }

  50% {
      transform: translate(5px, 5px)
  }

  100% {
      transform: translate(0, 0)
  }
}

@keyframes ANIMATE-BLUE {
  0% {
      transform: translate(0, 0)
  }

  50% {
      transform: translate(-5px, -5px)
  }

  100% {
      transform: translate(0, 0)
  }
}

@font-face {
  font-family: "Font_My_Icon_Font";
  src: url("assets/FontAwesome5Brands-Regular.woff2") format('woff2'),
}

.MyIconFont-shikimory::before{
  font-family: 'Font_My_Icon_Font';
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f186";
}
